//
// Color
//
$black: #101010;
$white: #ffffff;

//
// Intentions
//
$background: $black;
$textColor: $white;

//
// Fonts
//
$fontTitle: 'Titilium', Arial, Helvetica, sans-serif;
$fontBody: 'Noto Sans', Arial, Helvetica, sans-serif;

// 
//  Spacing
// 

$paddingXsm: 2px;
$paddingSm: 4px;
$paddingSmd: 6px;
$paddingMd: 8px;
$paddingXl: 42px;