//
// Color
//
$black: #101010;
$white: #ffffff;

//
// Intentions
//
$background: $black;
$text-color: $white;
$surface-background: $white;
$surface-text: $black;

//
// Fonts
//
$font-title: 'Titilium', Arial, Helvetica, sans-serif;
$font-body: 'Noto Sans', Arial, Helvetica, sans-serif;

// 
//  Spacing
// 

$padding-xsm: 2px;
$padding-sm: 4px;
$padding-smd: 6px;
$padding-md: 8px;
$padding-xl: 42px;

//
// Breakpoint
//

$mobile-breakpoint: 780px;

:export {
  mobileBreakPoint: $mobile-breakpoint;
}