@import 'ui/variables.module.scss';

.button {
  padding: 2rem 4rem;
  background-color: $surfaceBackground;
  color: $surfaceText;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 10;
  transition: 0.3s;
  font-family: $fontBody;
}