@import 'ui/variables.module.scss';

.viewer {
  padding: 0;
  transition: 0.3s;
  background-color: $surface-background;

  &.active {
    padding: 2rem;
    transition: 0.3s;

    .ctnRender {
      .render {
        transform: translate(0, 0);
        transition: 1s;
        opacity: 1;
        transition-property: opacity, transform;
        transition-delay: 0.3s, 0s;
      }
    }
  }

  .ctnRender {
    width: 100%;
    height: 100%;
    background-color: #101010;

    .render {
      width: calc(100vw - 4rem);
      height: calc(100vh - 4rem);
      transform: translate(2rem, 2rem);
      transition: 0.3s;
      position: relative;
      overflow: hidden;
      opacity: 0;
    }
  }

  .title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 8000;
  }

  @media (max-width: $mobile-breakpoint) {
    .ctnRender {
      .render {
        width: calc(100vw - 2rem);
        height: calc(100vh - 2rem);
        transform: translate(1rem, 1rem);
      }
    }

    h1 {
      font-size: 15vw;
    }

    &.active {
      padding: 1rem;

      .ctnRender {
        .render {
          width: calc(100vw - 2rem);
          height: calc(100vh - 2rem);
        }
      }
    }
  }
}

.moreInfo {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(100%, 100%);
  transition-duration: 0.3s;

  &.active {
    transform: translate(0, 0);
    transition-duration: 0.3s;
  }
}