@import 'ui/variables.module.scss';

.viewer {
  padding: 0;
  transition: 0.3s;
  background-color: $surfaceBackground;

  &.active {
    padding: 2rem;
    transition: 0.3s;

    .ctnRender {
      .render {
        opacity: 1;
        transform: translate(0, 0);
      }
    }

    .moreInfo {
      transform: translate(0, 0);
      transition-delay: 0.3s;
      transition-duration: 0.5s;
    }
  }

  .ctnRender {
    width: 100%;
    height: 100%;
    background-color: #101010;

    .render {
      opacity: 0;
      width: calc(100vw - 4rem);
      height: calc(100vh - 4rem);
      transform: translate(2rem, 2rem);
      transition: 0.3s;
      position: relative;
      overflow: hidden;
    }
  }

  // h1 {
  //   text-align: center;
  //   font-family: 'Titilium';
  //   position: absolute;
  //   font-size: 5rem;
  //   text-transform: uppercase;
  //   color: white;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   z-index: 8000;
  // }

  .backButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 0rem;
  }

  .moreInfo {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(100%, 100%);
    transition-delay: 0.3s;
    transition-duration: 0.5s;
  }
}